name: ci

on:
  push:
    branches:
      - main
      - release/*
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' || !startsWith( github.ref, 'refs/heads/release/' ) }}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"
      - uses: coursier/cache-action@v6
      - name: build
        id: build
        run: sbt "+scalafmtCheckAll;+headerCheckAll;+compile;+Test/compile"
      - name: test
        id: test
        run: sbt "+Test/test"
      - uses: actions/upload-artifact@v3
        if: (success() || failure()  && steps.build.conclusion == 'success')
        with:
          name: unit-tests-result
          path: "**/target/test-reports/*.xml"
      - uses: alehechka/upload-tartifact@v2
        with:
          name: targets
          path: "**/target/**"
          if-no-files-found: error
          retention-days: 1

  publish:
    if: github.ref == 'refs/heads/main' || startsWith( github.ref, 'refs/heads/release/' )
    runs-on: ubuntu-latest
    needs:
      - test
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: "0"
      - uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"
      - uses: coursier/cache-action@v6
      - uses: alehechka/download-tartifact@v2
        with:
          name: targets
      - uses: scalacenter/sbt-dependency-submission@v2
      - run: echo $PGP_SECRET | base64 -d | gpg --import
        env:
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
      - run: sbt "+publishSigned"
        env:
          SONATYPE_USER: ${{ secrets.SONATYPE_USER }}
          SONATYPE_PASS: ${{ secrets.SONATYPE_PASS }}
